In [2]:
# 匯入需要的套件 [B]
%matplotlib inline
import time
import matplotlib.pyplot as plt
import numpy as np # Use numpy to convert to arrays
import pandas as pd # 引用套件並縮寫為 pd  
import seaborn as sns
import  pymysql
# 匯入需要的套件 [E]

In [14]:
# 連接至資料庫，並抓取資料 [B]
conn  =  pymysql.connect ( host = '' ,  user = '' ,   = "" ,  db = '' ) 
cur  =  conn.cursor() 
select_sql = '''SELECT *
                FROM `demand`
                WHERE (`datetime` LIKE \'%:15:00\' 
                      OR `datetime` LIKE \'%:30:00\' 
                      OR `datetime` LIKE \'%:45:00\' 
                      OR `datetime` LIKE \'%:00:00\') 
                AND `model` = \'DEM600-4\'
                AND `datetime` >= \'2022-01-07\' AND `datetime` <= \'2022-01-08\'
                ORDER BY `datetime`  '''
result_object = cur.execute(select_sql)
results_values_list = cur.fetchall()
result_key_list = [i[0] for i in cur.description]
cur.close () 
conn.close()
# 連接至資料庫，並抓取資料 [E]

In [15]:
# 將抓取到的資料轉為 dataframe [B]
df = pd.DataFrame(results_values_list)
df.columns = result_key_list
df
# 將抓取到的資料轉為 dataframe [E]

,id,address,channel,model,datetime,demand_min,demand_quarter,Total_value
0,13658528,15,15,DEM600-4,2022-01-07 00:00:00,36.0,36.4,34.0
1,13658618,15,15,DEM600-4,2022-01-07 00:15:00,36.0,34.8,35.0
2,13658708,15,15,DEM600-4,2022-01-07 00:30:00,42.0,34.4,31.0
3,13658798,15,15,DEM600-4,2022-01-07 00:45:00,24.0,38.0,34.0
4,13658888,15,15,DEM600-4,2022-01-07 01:00:00,36.0,30.8,25.0
...,...,...,...,...,...,...,...,...
92,13666806,15,15,DEM600-4,2022-01-07 23:00:00,24.0,42.0,29.0
93,13666896,15,15,DEM600-4,2022-01-07 23:15:00,36.0,34.0,39.0
94,13666986,15,15,DEM600-4,2022-01-07 23:30:00,42.0,43.6,31.0
95,13667076,15,15,DEM600-4,2022-01-07 23:45:00,36.0,36.0,38.0
96,13667166,15,15,DEM600-4,2022-01-08 00:00:00,36.0,40.8,30.0